extends layout

block content
  .container
    .row
      .col-md-12
        h2.main-title Daniel J. Frank
        i.slogan Senior Software Engineer
        hr
  .container 
    h2.subtitle Resume 
    .row 
      .col-md-4 
        h3 SKILLS
      .col-md-4 
        h3 TECH
      .col-md-4 
        h3 ACCOMPLISHMENTS 
    .row 
      .col-md-12 
        h3 EXPERIENCE 
  hr
  .container 
    h2.subtitle Projects
    .row
    

