body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(212, 205, 205);
}

a {
  color: #00B7FF;
}

.container {
  text-align: center;
}
.container > h1 {
  text-align: left;
}
.experience-container{
  text-align: left;
}
.experience-container > ul {
  list-style: none;
}
.experience-container > ul.duties {
  list-style: circle;
}
.experience-container > ul > li > p {
  text-indent: 1em;
}
.main-title{
  font-size: 4em;
  text-align: center;
  font-family: serif;
  text-decoration: none;
  color:cadetblue;
}

.subtitle {
  font-size: 2em;
  text-align: left;
  font-family: serif;
  text-decoration: none;
  color: rgb(2, 104, 57);
}

.slogan {
  color: cadetblue;
  font-style: italic;
}

.resume-box {
  margin: auto;
  height: auto;
  border: 1px solid black;
  width: auto;
  max-height: 17em;
  overflow: scroll;
  text-align: left;
}
.resume-box >h3 {
  text-align: left;
  font-size: 1.25rem;
}
.table{
  display: table;
}
tr, td {
  text-align: left; 
  vertical-align: middle; 
}
.hidden {
  display: none;
}
.hidden-table{
  display: none;
}
.expand-toggle {
  cursor: pointer;
}
.expand-toggle.expanded::before {
  content: "- ";
}
.expand-toggle::before {
  content: "+ ";
}
.project-box{
  margin: auto;
  height: 4em;
  border: 1px solid black;
  width: auto;
}

.portfolio-container{
  border: 1px solid black;
  
}
a.portfolio-link{
  color: black;
  text-decoration: none;
}
.portfolio-container:hover{
  cursor: pointer;
 }

 @media screen and (max-width:390px){
  body{
    padding: 1em;
  }
 }