body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
  text-align: center;
}

.main-title{
  font-size: 4em;
  text-align: center;
  font-family: serif;
  text-decoration: none;
  color:cadetblue;
}

.subtitle {
  font-size: 2em;
  text-align: left;
  font-family: serif;
  text-decoration: none;
  color: rgb(2, 104, 57);
}

.slogan {
  color: cadetblue;
  font-style: italic;
}

.resume-box {
  margin: auto;
  height: auto;
  border: 1px solid black;
  width: auto;
  max-height: 17em;
  overflow: scroll;
}
.resume-box >h3 {
  text-align: left;
  font-size: 1.25rem;
}
.table{
  display: table;
}
tr, td {
  text-align: center; 
  vertical-align: middle; 
}
.hidden {
  display: none;
}
.hidden-table{
  display: none;
}
.expand-toggle {
  cursor: pointer;
}
.expand-toggle.expanded::before {
  content: "- ";
}
.expand-toggle::before {
  content: "+ ";
}
.project-box{
  margin: auto;
  height: 4em;
  border: 1px solid black;
  width: auto;
}